*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #062863;
    background-position: center;
    font-family: 'sen' sans-serif;
    overflow-x: hidden;
   
}

header img {
	margin: 2.4rem 0;
    width: 17rem;
    
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-page{
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    border-radius: 2rem 2rem 2rem 0;
    padding: 7px;
}

h2{
    text-align: center;
    color:  #062863;
    padding-top: 25px;
}

#p1{
    text-align: center;
    color: grey;
    padding-bottom: 30px;
}

input{
    width: 320px;
    height: 45px;
    background-color: rgb(236, 241, 245);
    font-size: 15px;
    border-radius: 5px; 
    padding: 10px;
    margin: 10px auto;
}

select{
    width: 320px;
    height: 45px;
    background-color: rgb(236, 241, 245);
    font-size: 15px;
    border-spacing: 50px;
    border-radius: 5px;
}

.form-label {
    padding-bottom: 3px;
    padding-left:40px;
    padding-right: 40px;
}

label{
    color: rgb(85, 78, 78);
    padding-bottom: 7px;
    text-align: left;
}

button{
    width: 320px;
    height: 45px;
    background-color:  #1f50a7;
    border-radius: 1rem 1rem 1rem 0;
    color: white;
}

footer{
    margin: 1.4rem 0;
}

footer a{
    text-decoration: none;
    color: white;
    padding-top: 25px ;
}

footer a:hover{
    color: grey;
}

@media only screen and (min-width: 900px) {
	body {
		background-image: url('circle.png'),
			url('Inverted\ J.png'), url('J.png'),
            url('angle\ bracket.png');
            background-position: -20% -45%, 110% -10%, -15% 108%, 117% 115%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 21rem 21rem;
            
    }
}