*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #009688 ;
}
.answer-tracker{
    float: left;
    width: 100%;

}
.quiz-container{
    max-width: 600px;
    height: 500px;
    background-color: white;
    margin: 45px auto;
    border-radius: 10px;
    padding: 30px;
}

.quiz-container::after, .quiz-container::before{
    content: '';
    clear: both;
    display: table;
}
.question{
    font-size: 22px;
    padding: 20px 0;
    margin-bottom: 10px;
}
.question-number h3{
    color: tomato;
    border-bottom: 1px solid goldenrod;
    margin: 0;
    padding-bottom: 10px;
    
} 
.question{
    font-size: 22px;
    padding: 20px 0;
    margin-bottom: 5px;
} 
.option div{
    background-color: #a79696;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding:  15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
} 

.option div.disabled{
    pointer-events: none;
}
.option div.correct{
    z-index: 1;
    color: white;
}
.option div.correct::before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: green;
    z-index: -1;
    transform: translateX(-100%);
    animation: animateBackground 1s ease;
    animation-fill-mode: forwards; 
}
    @keyframes animateBackground{
        0%{
            transform: translateX(-100%);
        } 
        100%{
            transform: translateX(0%);
        }
    }

.option div.wrong {
    z-index: 1;
    color: white;
}

.option div.wrong::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: -1;
    transform: translateX(-100%);


    animation: animateBackground 1s ease;
    animation-fill-mode: forwards;
}

@keyframes animateBackground {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
        }
    }

.button .btn{
    padding: 12px 40px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #009688;
    font-size: 15px;
    border: none;
    display: inline block;
    margin: 10px 0 20px;
} 
.answer-tracker{
    border-top: 1px solid #cccccc;
    padding-top: 15px;
}
.answer-tracker div{
    height: 40px;
    width: 40px  ;
    background-color: #cccccc;
    display: inline-block;
    border-radius: 50%;
    margin-right:5px;
}
.answer-tracker div.correct{
    background-color: green;
    background-image: url(correct.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.answer-tracker div.wrong{
    background-color:red;
    background-image: url(wrong.jpg);
   background-position: center;
    background-repeat: no-repeat; 
    background-size: 100%;
}
.quiz-over{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
}

.quiz-over .box{
    background-color: #009688;
    padding: 30px;
    border-radius: 10px;
    color: white;
    text-align: center;
    flex-basis: 700px;
    max-width: 700px;
}

.quiz-over .box h1 {
    font-size: 38px;
    margin: 0 0 2opx;

}

.quiz-over.show {
    display: flex;
}

.quiz-over .box button {
    padding: 15px 50px;
    border: none;
    background-color: tomato;
    border-radius: 5px;
    font-size: 16px;
    margin: 15px 0 20px;
    color: white;

}
   